<div>
    <h2 data-translate="opalitApp.asset.home.title">Assets</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="asset.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="opalitApp.asset.home.createLabel">
                        Create new Asset
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="opalitApp.asset.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span data-translate="opalitApp.asset.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="opalitApp.asset.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quotity"><span data-translate="opalitApp.asset.quotity">Quotity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comments"><span data-translate="opalitApp.asset.comments">Comments</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gdate"><span data-translate="opalitApp.asset.gdate">Gdate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gnumbera"><span data-translate="opalitApp.asset.gnumbera">Gnumbera</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="genuma"><span data-translate="opalitApp.asset.genuma">Genuma</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gnumberb"><span data-translate="opalitApp.asset.gnumberb">Gnumberb</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gdateb"><span data-translate="opalitApp.asset.gdateb">Gdateb</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="genumb"><span data-translate="opalitApp.asset.genumb">Genumb</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="genumc"><span data-translate="opalitApp.asset.genumc">Genumc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="genumd"><span data-translate="opalitApp.asset.genumd">Genumd</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gdatec"><span data-translate="opalitApp.asset.gdatec">Gdatec</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="market.id"><span data-translate="opalitApp.asset.market">Market</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="currency.id"><span data-translate="opalitApp.asset.currency">Currency</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="country.id"><span data-translate="opalitApp.asset.country">Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city.id"><span data-translate="opalitApp.asset.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sector.id"><span data-translate="opalitApp.asset.sector">Sector</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="asset in vm.assets track by asset.id">
                    <td><a ui-sref="asset-detail({id:asset.id})">{{asset.id}}</a></td>
                    <td>{{asset.name}}</td>
                    <td>{{asset.reference}}</td>
                    <td>{{asset.type}}</td>
                    <td>{{asset.quotity}}</td>
                    <td>
                        <a ng-if="asset.comments" ng-click="vm.openFile(asset.commentsContentType, asset.comments)" data-translate="entity.action.open">open</a>
                        <span ng-if="asset.comments">{{asset.commentsContentType}}, {{vm.byteSize(asset.comments)}}</span>
                    </td>
                        <td>{{asset.gdate | date:'mediumDate'}}</td>
                    <td>{{asset.gnumbera}}</td>
                    <td>{{asset.genuma}}</td>
                    <td>{{asset.gnumberb}}</td>
                        <td>{{asset.gdateb | date:'mediumDate'}}</td>
                    <td>{{asset.genumb}}</td>
                    <td>{{asset.genumc}}</td>
                    <td>{{asset.genumd}}</td>
                        <td>{{asset.gdatec | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="market-detail({id:asset.market.id})">{{asset.market.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="currency-detail({id:asset.currency.id})">{{asset.currency.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="country-detail({id:asset.country.id})">{{asset.country.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="city-detail({id:asset.city.id})">{{asset.city.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="sector-detail({id:asset.sector.id})">{{asset.sector.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="asset-detail({id:asset.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="asset.edit({id:asset.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="asset.delete({id:asset.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
