
<div>
    <h2><span data-translate="opalitApp.asset.detail.title">Asset</span> {{vm.asset.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="opalitApp.asset.name">Name</span></dt>
        <dd>
            <span>{{vm.asset.name}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.reference">Reference</span></dt>
        <dd>
            <span>{{vm.asset.reference}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.type">Type</span></dt>
        <dd>
            <span>{{vm.asset.type}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.quotity">Quotity</span></dt>
        <dd>
            <span>{{vm.asset.quotity}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.comments">Comments</span></dt>
        <dd>
            <div ng-if="vm.asset.comments">
                <a ng-click="vm.openFile(vm.asset.commentsContentType, vm.asset.comments)" data-translate="entity.action.open">open</a>
                {{vm.asset.commentsContentType}}, {{vm.byteSize(vm.asset.comments)}}
            </div>
        </dd>
        <dt><span data-translate="opalitApp.asset.gdate">Gdate</span></dt>
        <dd>
            <span>{{vm.asset.gdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.gnumbera">Gnumbera</span></dt>
        <dd>
            <span>{{vm.asset.gnumbera}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.genuma">Genuma</span></dt>
        <dd>
            <span>{{vm.asset.genuma}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.gnumberb">Gnumberb</span></dt>
        <dd>
            <span>{{vm.asset.gnumberb}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.gdateb">Gdateb</span></dt>
        <dd>
            <span>{{vm.asset.gdateb | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.genumb">Genumb</span></dt>
        <dd>
            <span>{{vm.asset.genumb}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.genumc">Genumc</span></dt>
        <dd>
            <span>{{vm.asset.genumc}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.genumd">Genumd</span></dt>
        <dd>
            <span>{{vm.asset.genumd}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.gdatec">Gdatec</span></dt>
        <dd>
            <span>{{vm.asset.gdatec | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="opalitApp.asset.market">Market</span></dt>
        <dd>
            <a ui-sref="market-detail({id:vm.asset.market.id})">{{vm.asset.market.id}}</a>
        </dd>
        <dt><span data-translate="opalitApp.asset.currency">Currency</span></dt>
        <dd>
            <a ui-sref="currency-detail({id:vm.asset.currency.id})">{{vm.asset.currency.id}}</a>
        </dd>
        <dt><span data-translate="opalitApp.asset.country">Country</span></dt>
        <dd>
            <a ui-sref="country-detail({id:vm.asset.country.id})">{{vm.asset.country.id}}</a>
        </dd>
        <dt><span data-translate="opalitApp.asset.city">City</span></dt>
        <dd>
            <a ui-sref="city-detail({id:vm.asset.city.id})">{{vm.asset.city.id}}</a>
        </dd>
        <dt><span data-translate="opalitApp.asset.sector">Sector</span></dt>
        <dd>
            <a ui-sref="sector-detail({id:vm.asset.sector.id})">{{vm.asset.sector.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="asset-detail.edit({id:vm.asset.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
