
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAssetLabel" data-translate="opalitApp.asset.home.createOrEditLabel">Create or edit a Asset</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.asset.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.asset.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.asset.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.reference" for="field_reference">Reference</label>
            <input type="text" class="form-control" name="reference" id="field_reference"
                    ng-model="vm.asset.reference"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.type" for="field_type">Type</label>
            <input type="number" class="form-control" name="type" id="field_type"
                    ng-model="vm.asset.type"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.quotity" for="field_quotity">Quotity</label>
            <input type="number" class="form-control" name="quotity" id="field_quotity"
                    ng-model="vm.asset.quotity"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setComments($file, vm.asset)">
            <label class="control-label" data-translate="opalitApp.asset.comments" for="field_comments">Comments</label>
            <div>
                <div ng-if="vm.asset.comments" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.asset.commentsContentType, vm.asset.comments)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.asset.commentsContentType}}, {{vm.byteSize(vm.asset.comments)}}</span>
                    <button type="button" ng-click="vm.asset.comments=null;vm.asset.commentsContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setComments($file, vm.asset)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="comments" id="field_comments"
                    ng-model="vm.asset.comments"
                    />
            <input type="hidden" class="form-control" name="commentsContentType" id="field_commentsContentType"
                    ng-model="vm.asset.commentsContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.gdate" for="field_gdate">Gdate</label>
                <div class="input-group">
                    <input id="field_gdate" type="text" class="form-control" name="gdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.asset.gdate" is-open="vm.datePickerOpenStatus.gdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('gdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.gnumbera" for="field_gnumbera">Gnumbera</label>
            <input type="number" class="form-control" name="gnumbera" id="field_gnumbera"
                    ng-model="vm.asset.gnumbera"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.genuma" for="field_genuma">Genuma</label>
            <input type="number" class="form-control" name="genuma" id="field_genuma"
                    ng-model="vm.asset.genuma"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.gnumberb" for="field_gnumberb">Gnumberb</label>
            <input type="number" class="form-control" name="gnumberb" id="field_gnumberb"
                    ng-model="vm.asset.gnumberb"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.gdateb" for="field_gdateb">Gdateb</label>
                <div class="input-group">
                    <input id="field_gdateb" type="text" class="form-control" name="gdateb" uib-datepicker-popup="{{dateformat}}" ng-model="vm.asset.gdateb" is-open="vm.datePickerOpenStatus.gdateb"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('gdateb')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.genumb" for="field_genumb">Genumb</label>
            <input type="number" class="form-control" name="genumb" id="field_genumb"
                    ng-model="vm.asset.genumb"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.genumc" for="field_genumc">Genumc</label>
            <input type="number" class="form-control" name="genumc" id="field_genumc"
                    ng-model="vm.asset.genumc"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.genumd" for="field_genumd">Genumd</label>
            <input type="number" class="form-control" name="genumd" id="field_genumd"
                    ng-model="vm.asset.genumd"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.asset.gdatec" for="field_gdatec">Gdatec</label>
                <div class="input-group">
                    <input id="field_gdatec" type="text" class="form-control" name="gdatec" uib-datepicker-popup="{{dateformat}}" ng-model="vm.asset.gdatec" is-open="vm.datePickerOpenStatus.gdatec"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('gdatec')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="opalitApp.asset.market" for="field_market">Market</label>
            <select class="form-control" id="field_market" name="market" ng-model="vm.asset.market" ng-options="market as market.id for market in vm.markets track by market.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="opalitApp.asset.currency" for="field_currency">Currency</label>
            <select class="form-control" id="field_currency" name="currency" ng-model="vm.asset.currency" ng-options="currency as currency.id for currency in vm.currencies track by currency.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="opalitApp.asset.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" ng-model="vm.asset.country" ng-options="country as country.id for country in vm.countries track by country.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="opalitApp.asset.city" for="field_city">City</label>
            <select class="form-control" id="field_city" name="city" ng-model="vm.asset.city" ng-options="city as city.id for city in vm.cities track by city.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="opalitApp.asset.sector" for="field_sector">Sector</label>
            <select class="form-control" id="field_sector" name="sector" ng-model="vm.asset.sector" ng-options="sector as sector.id for sector in vm.sectors track by sector.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
