
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBookLabel" data-translate="opalitApp.book.home.createOrEditLabel">Create or edit a Book</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.book.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.book.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.book.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.book.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.book.type" for="field_type">Type</label>
            <input type="number" class="form-control" name="type" id="field_type"
                    ng-model="vm.book.type"
                    />
        </div>

        <div class="form-group">
            <label data-translate="opalitApp.book.parent" for="field_parent">Parent</label>
            <select class="form-control" id="field_parent" name="parent" ng-model="vm.book.parent" ng-options="book as book.id for book in vm.books track by book.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="opalitApp.book.currency" for="field_currency">Currency</label>
            <select class="form-control" id="field_currency" name="currency" ng-model="vm.book.currency" ng-options="currency as currency.id for currency in vm.currencies track by currency.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="opalitApp.book.calcul" for="field_calcul">Calcul</label>
            <select class="form-control" id="field_calcul" name="calcul" ng-model="vm.book.calcul" ng-options="calcul as calcul.id for calcul in vm.calculs track by calcul.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="opalitApp.book.fund" for="field_fund">Fund</label>
            <select class="form-control" id="field_fund" name="fund" ng-model="vm.book.fund" ng-options="asset as asset.id for asset in vm.assets track by asset.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
