
<div>
    <h2><span data-translate="opalitApp.book.detail.title">Book</span> {{vm.book.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt>Id</dt>
        <dd>
            <span>{{vm.book.id}}</span>
        </dd>
        <dt><span data-translate="opalitApp.book.type">Type</span></dt>
        <dd>
            <span>{{vm.book.type}}</span>
        </dd>
        <dt><span data-translate="opalitApp.book.parent">Parent</span></dt>
        <dd>
            <a ui-sref="book-detail({id:vm.book.parent.id})">{{vm.book.parent.id}}</a>
        </dd>
        <dt><span data-translate="opalitApp.book.currency">Currency</span></dt>
        <dd>
            <a ui-sref="currency-detail({id:vm.book.currency.id})">{{vm.book.currency.id}}</a>
        </dd>
        <dt><span data-translate="opalitApp.book.calcul">Calcul</span></dt>
        <dd>
            <a ui-sref="calcul-detail({id:vm.book.calcul.id})">{{vm.book.calcul.id}}</a>
        </dd>
        <dt><span data-translate="opalitApp.book.fund">Fund</span></dt>
        <dd>
            <a ui-sref="asset-detail({id:vm.book.fund.id})">{{vm.book.fund.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="book-detail.edit({id:vm.book.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>


<div>
    <h2 data-translate="opalitApp.book.home.title">Books</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="name"><span data-translate="opalitApp.book.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type"><span data-translate="opalitApp.book.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="parent.id"><span data-translate="opalitApp.book.parent">Parent</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="currency.id"><span data-translate="opalitApp.book.currency">Currency</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="calcul.id"><span data-translate="opalitApp.book.calcul">Calcul</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="fund.id"><span data-translate="opalitApp.book.fund">Fund</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="book in vm.books track by book.id" ng-if="vm.book.id == book.parent.id">
                    <td><a ui-sref="book-detail({id:book.id})">{{book.id}}</a></td>
                    <td>{{book.name}}</td>
                    <td>{{book.type}}</td>
                    <td>
                       <a ui-sref="book-detail({id:book.parent.id})">{{book.parent.id}}</a>
                    </td>
                    <td>
                      <a ui-sref="currency-detail({id:book.currency.id})">{{book.currency.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="calcul-detail({id:book.calcul.id})">{{book.calcul.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="asset-detail({id:book.fund.id})">{{book.fund.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="book-detail({id:book.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.edit({id:book.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.delete({id:book.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div>
    <h2 data-translate="opalitApp.transaction.home.title">Transactions</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="idPosition"><span data-translate="opalitApp.transaction.idPosition">Id Position</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="price"><span data-translate="opalitApp.transaction.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="quantity"><span data-translate="opalitApp.transaction.quantity">Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type"><span data-translate="opalitApp.transaction.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="status"><span data-translate="opalitApp.transaction.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="tradeDate"><span data-translate="opalitApp.transaction.tradeDate">Trade Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="settlementDate"><span data-translate="opalitApp.transaction.settlementDate">Settlement Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="amount"><span data-translate="opalitApp.transaction.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="marketFees"><span data-translate="opalitApp.transaction.marketFees">Market Fees</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="brokerFees"><span data-translate="opalitApp.transaction.brokerFees">Broker Fees</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="clientFees"><span data-translate="opalitApp.transaction.clientFees">Client Fees</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="forexSpot"><span data-translate="opalitApp.transaction.forexSpot">Forex Spot</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="comments"><span data-translate="opalitApp.transaction.comments">Comments</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="boComment"><span data-translate="opalitApp.transaction.boComment">Bo Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="cfd"><span data-translate="opalitApp.transaction.cfd">Cfd</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="book.id"><span data-translate="opalitApp.transaction.book">Book</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="asset.id"><span data-translate="opalitApp.transaction.asset">Asset</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="currency.id"><span data-translate="opalitApp.transaction.currency">Currency</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="broker.id"><span data-translate="opalitApp.transaction.broker">Broker</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="primebroker.id"><span data-translate="opalitApp.transaction.primebroker">Primebroker</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <tr ng-repeat="transaction in vm.transactions track by transaction.id" ng-if="vm.book.id == transaction.book.id">
                <td><a ui-sref="transaction-detail({id:transaction.id})">{{transaction.id}}</a></td>
                <td>{{transaction.idPosition}}</td>
                <td>{{transaction.price}}</td>
                <td>{{transaction.quantity}}</td>
                <td>{{transaction.type}}</td>
                <td>{{transaction.status}}</td>
                <td>{{transaction.tradeDate | date:'mediumDate'}}</td>
                <td>{{transaction.settlementDate | date:'mediumDate'}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.marketFees}}</td>
                <td>{{transaction.brokerFees}}</td>
                <td>{{transaction.clientFees}}</td>
                <td>{{transaction.forexSpot}}</td>
                <td>{{transaction.comments}}</td>
                <td>{{transaction.boComment}}</td>
                <td>{{transaction.cfd}}</td>
                <td>
                    <a ui-sref="book-detail({id:transaction.book.id})">{{transaction.book.id}}</a>
                </td>
                <td>
                    <a ui-sref="asset-detail({id:transaction.asset.id})">{{transaction.asset.id}}</a>
                </td>
                <td>
                    <a ui-sref="currency-detail({id:transaction.currency.id})">{{transaction.currency.id}}</a>
                </td>
                <td>
                    <a ui-sref="people-detail({id:transaction.broker.id})">{{transaction.broker.id}}</a>
                </td>
                <td>
                    <a ui-sref="people-detail({id:transaction.primebroker.id})">{{transaction.primebroker.id}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="transaction-detail({id:transaction.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.actfion.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="transaction.edit({id:transaction.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="transaction.delete({id:transaction.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
