
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMarketLabel" data-translate="opalitApp.market.home.createOrEditLabel">Create or edit a Market</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.market.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.market.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.market.mnemo" for="field_mnemo">Mnemo</label>
            <input type="text" class="form-control" name="mnemo" id="field_mnemo"
                    ng-model="vm.market.mnemo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="opalitApp.market.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.market.name"
                    />
        </div>

        <div class="form-group">
            <label data-translate="opalitApp.market.currency" for="field_currency">Currency</label>
            <select class="form-control" id="field_currency" name="currency" ng-model="vm.market.currency" ng-options="currency as currency.id for currency in vm.currencies track by currency.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="opalitApp.market.city" for="field_city">City</label>
            <select class="form-control" id="field_city" name="city" ng-model="vm.market.city" ng-options="city as city.id for city in vm.cities track by city.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
